body {
    margin: 0;
    background-color: rgb(235, 235, 235);
}

#container {
    width: 960px;
    margin: 0 auto;
}

#imageLink {
    height: 80px;
}

#logo {
    height: 80px;
    width: 80px;
    font-size: 40px;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: rgb(58, 110, 165);
    font-size: 20px;
    text-align: center;
}

nav ul {
    margin: 0;
    list-style: none;
}

nav li {
    display: inline;
}

nav ul li a {
    padding: 20%;
    display: block;
    text-decoration: none;
}

.submenu {
    display: none;
}